MONGODB_URL=""
PORT=""
JWT_SECRET= ""
ALLOWED_URL=""
STREAM_URL="
BACKEND_URI=""
COOKIES=""
LOCK_SECRET=""
SUGGESTION_API=""
LOGS_KEY = ""
FEEDBACK_WEBHOOK_URL=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
ADMIN_EMAIL=""
